{{define "title"}}{{t "Issues"}}{{end}}
{{define "main"}}
			<div class="row mb-3">
				<div class="col">
					<h1 class="mb-3">{{t "Issues"}} <span class="badge bg-secondary fs-6 align-text-top">{{len .Issues}}</span></h1>
				</div>
			</div>
			{{- if gt (len .Issues) 0}}
			<div class="table-responsive">
			<table class="table table-striped table-hover mb-3">
				<thead>
					<tr>
						<th scope="col">{{t "File"}}</th>
						<th scope="col">{{t "Reason"}}</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{{- range .Issues}}
					<tr>
						<td class="text-break">{{.File}}</td>
						<td>{{.Reason}}</td>
					</tr>
					{{- end}}
				</tbody>
			</table>
			</div>
			{{- else}}
			<div class="alert alert-success d-flex align-items-center" role="alert">
				<span class="bi bi-check-circle-fill flex-shrink-0 me-2"></span>
				<div><strong>{{t "Well done!"}}</strong> {{t "No issues found."}}</div>
			</div>
			{{- end}}
{{- end}}
