{{define "title"}}{{t "Missing Games"}}{{end}}
{{define "main"}}
			{{- template "pageHeader" (dict "Title" (t "Missing Games") "Count" .Pagination.NumItems "Subtitle" (t "Games of the Nintendo eShop that are not in your library."))}}
			{{- if or (gt (len .TitleItems) 0) .Filter.Keyword}}
			{{- template "filter" .}}
			{{- end}}
			{{- if gt (len .TitleItems) 0}}
			<div class="game-grid">
				{{- range .TitleItems}}
				{{- template "card" .}}
				{{- end}}
			</div>
			{{- template "pagination" .}}
			{{- else if .Filter.Keyword}}
			{{- template "noResults" .Filter}}
			{{- else}}
			{{- template "emptyState" (dict "Icon" "bi-trophy" "Tone" "success" "Title" (t "You have them all!") "Text" (t "There is no game missing from your library.") "ActionHref" "" "ActionLabel" "" "ActionIcon" "")}}
			{{- end}}
{{- end}}
